@model SGIC.ViewModel.PersonaViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //collapsible panel management + collapse initially
        $(".collapsibleHeader").toggleClass("collapsibleExpanded", false).click(function () {
            $(this).toggleClass("collapsibleExpanded").next(".collapsableBlack").slideToggle('fast');
        });
        $(".collapsableBlack").hide();
    });
</script>
    <fieldset>
        <legend>Persona</legend>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.persona.PersonaID)

        <div class="editor-label">
            @Html.LabelFor(model => model.persona.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.persona.nombre)
            @Html.ValidationMessageFor(model => model.persona.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.persona.dni)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.persona.dni)
            @Html.ValidationMessageFor(model => model.persona.dni)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.persona.direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.persona.direccion)
            @Html.ValidationMessageFor(model => model.persona.direccion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>

        @Html.Partial("_ListTelefonos", Model.persona.telefonos)
        @Html.Partial("_ListAutomoviles", Model.vehiculos)

}
        <div id="collapsibleHeader" class="collapsibleHeader">
            <div class="collapsableBlue">
                <label>Agregar Telefono</label>
            </div>
        </div>
	    <div id="collapsibleBody" class="collapsableBlack">
            @Html.Partial("_CreateTelefono", Model)
        </div>
        <div id="collapsibleHeader1" class="collapsibleHeader">
            <div class="collapsableBlue">
                <label>Agregar Vehiculo</label>
            </div>
        </div>
	    <div id="collapsibleBody1" class="collapsableBlack">
            @Html.Partial("_CreateAutomovil")
        </div>
    </fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
