@model IEnumerable<SGIC.Models.Persona>

@{
    ViewBag.Title = "Lista de choferes";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            nombre
        </th>
        <th>
            dni
        </th>
        <th>
            direccion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditId", new { id = item.PersonaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonaID })
        </td>
    </tr>
}

</table>
