@model IEnumerable<SGIC.Models.Viaje>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            dia
        </th>
        <th>
            fecha
        </th>
        <th>
            numeroViaje
        </th>
        <th>
            efectivo
        </th>
        <th>
            importe
        </th>
        <th>
            peaje
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dia.DiaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroViaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.efectivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peaje)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ViajeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ViajeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ViajeID })
        </td>
    </tr>
}

</table>
