@model SGIC.Models.Telefono

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Telefono</legend>

        @Html.HiddenFor(model => model.TelefonoID)

        <div class="editor-label">
            @Html.LabelFor(model => model.tipo.TipoTelefonoID, "tipo")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.tipo.TipoTelefonoID, (IEnumerable<SelectListItem>)ViewBag.TipoTelefonoID, String.Empty)
            @Html.ValidationMessageFor(model => model.tipo.TipoTelefonoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.codigoArea) | @Html.LabelFor(model => model.primerParte)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.codigoArea) - @Html.EditorFor(model => model.primerParte) - @Html.EditorFor(model => model.segundaParte)
            @Html.ValidationMessageFor(model => model.codigoArea)
            @Html.ValidationMessageFor(model => model.primerParte)
            @Html.ValidationMessageFor(model => model.segundaParte)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isPrincipal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isPrincipal)
            @Html.ValidationMessageFor(model => model.isPrincipal)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Edit", "Customer", new { id = Model.persona.PersonaID }, new { })
</div>
